.coffee_title{
    text-align: center;
    display: block;
    font-weight: 1000;
    font-style:italic
}
h1{
    font-size: 40px;
    margin-top: 2px;
    margin-bottom: 0;

}
body{
    background-image: url("./Images/mainbackground.avif");
}
hr{
    height:5px;
    background-color: white;
}
.top_divider{
    margin-top:-10px;
    margin-bottom: 30px;
}
.bottom_divider{
    margin-top:30px;
}
main{
    background-color:rgb(97, 19, 2);
    width:80%;
    margin:auto;
    max-width:  750px;
    padding:15px;
    opacity: 0.9;
    color:white;
}
h2{
    display: inline-block;
    margin: 0 auto;
    
}
.item p{
    display: inline-block;
}
.type{
    width:80%;
    text-align: left;
}
.price{
    width: 15%;
    text-align: right;
}
section{
    display: inline-block;
    text-align: center;
}
.menu{
    padding: 5px 5px;
    width:46%;
   
    font-weight: 700;
    border-style: dotted;  
    margin: auto;
    background-size:cover;
}
.coffee{
    background-image: url("./Images/Coffee_background.jpg");
}
.chai{
    background-image: url("./Images/teaback.png");
    
}
.cold{
    background-image: url("./Images/cold_drinkback.jpeg");
    
}
.dessert{
    background-image: url("./Images/dessert.jpg");
    
}
.footer{
    width: 100%;
}
.credits p,.quote p{
    margin-top: 10%;
    margin-bottom: 2px;
}
